*{
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.list{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.list li{
	width: 200px;
	height: 400px;
	list-style: none;
	padding: 20px;
	margin: 10px 20px;
}

.list li h4{
	font-size: 18px;
	font-weight: 900px;
	font-family: arial;
	margin-bottom: 15px;
}

.list img{
	width: 200px;
	height: 300px;
}